<div class="flex flex-col md:flex-row lg:flex-row sm:p-10 self-start bg-gray-100">
  <!-- Profile Image -->
  <div id="1" class="lg:w-full md:w-full p-5">

    <!-- Skeleton loader placeholder for profile image -->
    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{  width: '300px' }"></ngx-skeleton-loader>
  </div>

  <!-- Profile Details -->
  <div class="flex flex-col md:w-full lg:w-full p-5 justify-center" id="2">
    <!-- Skeleton loader placeholders for profile details -->
    <ngx-skeleton-loader class="w-full" count="1"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="w-full" count="1"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="w-full" count="1"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="w-full" count="1"></ngx-skeleton-loader>
  </div>
</div>