/* src/app/user-input/user-input.component.css */
.user-input-container {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    margin-right: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }

#username{
  border: 1px solid #e5e5e5;
  width: 200px;
  padding: 8px;
}
// if less than 590px then width: 100px;
@media (max-width: 590px) {
  .user-input-container{
    display: flex;
    justify-content: center;
  }
}


