<div class="mb-3 search">
  <div class="relative mb-4 flex w-full flex-wrap items-stretch justify-end mr-5 p-8">
    <input type="text" class="rounded-md" placeholder="Search" id="username" [(ngModel)]="username"
      placeholder="Enter GitHub username" aria-label="Search" aria-describedby="button-addon3" />


    <button
      class="bg-green-600 text-white active:bg-green-600 uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
      type="button" id="button-addon3" data-te-ripple-init (click)="onSubmit()">
      Search
    </button>
  </div>
</div>